@import "../../../../shared/styles/_variables"
@import "../../../../shared/styles/fontUtils"

.header
    @include fontDimensions(21.6px, 18px)
    background-color: $bgColor-1
    display: flex
    align-items: center
    font-weight: 900
    justify-content: space-between

.content
    margin: 15px 0px
    display: flex
    width: 100%
    justify-content: space-between

