@import "../../shared/styles/_variables.sass"

.root
    background-color: $secondary

.wrapper
    display: flex
    align-items: center
    justify-content: space-between
    color: #696969
    padding-top: 21px
    padding-bottom: 22px

.tools
    display: flex
    align-items: center

.navigation
    ul
        display: flex
        li
            margin-right: 30px
            &:last-child
                margin-right: 50px

.icon
    position: relative
    left: -5px
    top: 3px

.active
    padding-bottom: 33px
    border-bottom: 2px solid $accent

.tab
    text-transform: uppercase
    padding: 33px 15px
