@import "../../shared/styles/_variables.sass"

.root
    background-color: $secondary
    height: 64px
    display: flex
    align-items: center
    padding: 15px 0px
    min-width: 1550px

.wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: #696969

.tools
    display: flex
    align-items: center

.navigation
    ul
        display: flex
        li
            margin-right: 30px
            &:last-child
                margin-right: 50px

.language
    max-height: 30px

.flag
    margin-right: 5px

.icon
    position: relative
    left: -5px
    top: 3px
