@import "../../../../shared/styles/_variables"

.gameHeader
    background-color: $secondary-1
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 40px

.content
    margin: 15px 0px

.surface
    background-color: $secondary-2
    text-align: center
    margin-right: 10px
    padding: 7px 11px
    border-radius: 5px
    &:last-child
        margin-right: 0
