@import "../../shared/styles/_variables.sass"

.root
    background-color: $secondary

.wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 22px
    margin-bottom: 24px
    color: #696969

.socials
    display: flex
    align-items: center
    & svg
        margin-left: 7px
