.root
    display: flex
    flex-direction: row
    background-color: lightgray
    height: 100vh

.wrapper
    display: flex
    flex-direction: column
    width: 100%

.chat
    background-color: #333

.header
    background-color: #444

.main
    background-color: #777
    // Please consider adding styles under when creating main section due to resizing reasons
    height: 100%
    min-width: 900px
