@import '../../../shared/styles/_variables'
@import '../../../shared/styles/fontUtils'

.root
    width: 670px
    border-radius: 5px
    background-color: #32353D
    color: $primaryColor

.active
    border: 1px solid #E6AF27
    .header
        color: #E6AF27

.wrapper
    display: flex
    flex-direction: column

.header
    margin-top: 20px
    margin-bottom: 20px
    display: flex
    align-items: center
    justify-content: space-between
    @include fontDimensions(17px, 14px)
    color: $secondaryColor


.text
    margin-bottom: 30px
    color: $secondaryColor
    @include fontDimensions(16.8px, 14px)

    
