@import '../../../shared/styles/_variables'
@import '../../../shared/styles/fontUtils'
@import '../../../shared/styles/common'

.root
  display: flex
  flex-direction: column

.userInfo
  display: flex
  margin: auto

.userName
  border-right: 3px solid $accent
  margin-left: 8px
  padding-right: 8px

.message
  color: $text-4
  margin-left: 8px

.winner
  background-color: $accent
  margin-top: 5px
  padding: 3px 6px 4px 5px
  border-bottom: 2px solid #B8740F
  border-radius: 2px
  text-transform: uppercase
  font-weight: 900
  color: $text-5
  @include fontDimensions(8.53px, 7.11px)

.levelLabel
  height: 16px
  border-top-right-radius: 2px
  border-bottom-right-radius: 2px
