.gamer_surface
    display: flex

.gamer
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #121212
    padding-top: 40px
    padding-bottom: 22px
    border-bottom: 15px solid tomato

.gamer_name
    margin-right: 40px

.gamer_avatar
    background-color: #121212
    text-align: center
    margin-right: 50px
