// Font
$font: 'Lato'

// Colors
$primary: #1A1C23 
$secondary: #26282F
$accent: #E6AF27

// Surface
$bgColor-1: #22242B
$bgColor-2: #2A2D33
$bgColor-3: #32353D
$bgColor-4: #292B32
$bgColor-5: #E5AF27

//Notifications
$notification-1: #23B5F3
$notification-2: #40D160
$notification-3: #E7425D

// Text
$primaryColor: #FFFFFF
$secondaryColor: #A1A1A1

$text-1: #1A1C23
$text-2: #E5AF27
$text-3: #696969
$text-4: #A2A2A2
$text-5: #22242B
$text-6: #E6AF27
$text-7: #32353D
$text-8: #E5AF27


//Carousel bar colors
// Generate if more then fixed count of users plays "jackpot" *

$carousel-1: #45729B
$carousel-2: #9B445E
$carousel-3: #9B8D44
$carousel-4: #459B86
$carousel-5: #23B5F3

// Weight
$light: 400;
$normal: 700;
$bold: 900;

// Sizes
$fontSize-1: 20px
$fontSize-2: 16px
$fontSize-3: 14px
$fontSize-4: 12px
$fontSize-5: 11px
$fontSize-6: 9px
$fontSize-7: 7,11px

// Line Heights
$lineHeight-1: 24px
$lineHeight-1: 21,6px
$lineHeight-1: 19,2px
$lineHeight-1: 16,8px
$lineHeight-1: 14,4px
$lineHeight-1: 12px
$lineHeight-1: 10,8px
$lineHeight-1: 8,53px

// Hover states
$hoverBackColor: #B8740F
$hoverBackColor-1: #282A31


 