// Font
$font: 'Lato'

// Weight
$light: 400
$normal: 700
$bold: 900

// Font size
$fs-20: rem(20px)
$fs-16: rem(16px)
$fs-14: rem(14px)
$fs-12: rem(12px)
$fs-11: rem(11px)
$fs-10: rem(10px)
$fs-9: rem(9px)
$fs-7_11: rem(7.11px)

// Colors
$primary: #1A1C23
$secondary: #26282F
$accent: #E6AF27

// Surface
$bgColor-1: #22242B
$bgColor-2: #2A2D33
$bgColor-3: #32353D
$bgColor-4: #292B32
$bgColor-5: #E5AF27

//Notifications
$notification-1: #23B5F3
$notification-2: #40D160
$notification-3: #E7425D

$secondaryLight: #32353D

// Brand

// Text
$primaryColor: #FFFFFF
$secondaryColor: #A1A1A1

$text-1: #1A1C23
$text-2: #E5AF27
$text-3: #696969
$text-4: #A2A2A2
$text-5: #22242B
$text-6: #E6AF27
$text-7: #32353D
$text-8: #E5AF27

//Carousel bar colors
// Generate if more then fixed count of users plays "jackpot" *

$carousel-1: #45729B
$carousel-2: #9B445E
$carousel-3: #9B8D44
$carousel-4: #459B86
$carousel-5: #23B5F3

// Hover states
$hoverBackColor: #B8740F
$hoverBackColor-1: #282A31
