// Font
$font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$font-1: 'Lato'
// Colors
$primary: #1A1C23
$secondary: #26282F
$accent: #E5AF27
    
$secondary-1: #32353D
$secondary-2: #3D404A
$secondary-3: #282A31
$secondary-4: #22242B
$secondary-5: #32353D

$lightBlue: #45729B 
// Brand

// Text

// Surface

// Hover states

// Support

// Elevation

// Timing
