@import "../../../../../shared/styles/_variables"
@import "../../../../../shared/styles/fontUtils"

.root
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $bgColor-1
    padding-top: 40px
    padding-bottom: 22px
    border-bottom: 15px solid tomato
    width: 360px
    position: relative
    &:nth-last-child(odd)
        border-bottom: 15px solid cyan

    &:hover
        background-color: $hoverBackColor-1

.name
    margin-right: 40px
    width: 82px

    & > h4
        text-transform: unset

.avatar
    background-color: $bgColor-6
    text-align: center
    margin-right: 50px
    border-radius: 5px
    position: relative

.lvl
    @include fontDimensions(12px, 10px)
    position: absolute
    margin-left: 50px
    padding: 2px 6px
    font-weight: 900
    background-color: $carousel-1

.deposit
    @include fontDimensions(10.8px, 9px)
    font-weight: 900
    margin: 2px auto 3px

.percent_title
    @include fontDimensions(14.4px, 12px)
    display: flex
    font-weight: 400
    margin-top: 4px
    color: $text-3

.percent
    color: $carousel-1
    padding: 0 5px

.btn
    min-width: 75px
