@import "../../styles/_variables.sass"

.root
    font-size: 1rem
    line-height: 1.2
    font-weight: 600
    border-radius: 5px
    letter-spacing: 0.5px
    padding: 10px 24px
    text-align: center

.primary
    background-color: $accent
    border-bottom: 2px solid #B8740F
    text-transform: uppercase

.transparent
    background-color: transparent

.secondary
    background-color: #3D404A

.md
    padding: 10px 24px
