@import '../../shared/styles/_variables'
@import '../../shared/styles/fontUtils'

.root
    height: 100%
    min-width: 1550px
    background-color: $primary

.wrapper
    display: flex

.header
    width: 100%
